<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/logo.png">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <base href="/" />
    <title>RENDERHOUSE</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '414224232096019',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>-->
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/three/three.js"></script>
    
    <script src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">Stripe.setPublishableKey('pk_test_VkKexfv4jBUoiY6BmfbOpxT0');</script>

    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    
    <div id="top">
        <navbar></navbar>
        <searchbar></searchbar>
    </div>


    <div ng-webgl id="render-frame">
        <div class="creator" ng-controller="RenderController" ng-show="model.creator"><h5 ui-sref="user({id: model.creator._id})">Made by {{model.creator.firstName}} {{model.creator.lastName}}</h5></div>
    </div>

    <div id="app-frame">
        <div ui-view class="app-content"></div>
    </div>

</body>
</html>


