<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/logo.png">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <base href="/" />
    <title>RENDERHOUSE</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/three/three.min.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    
    <div id="top">
        <navbar></navbar>
        <collection></collection>
        <searchbar></searchbar>
        <recengine></recengine>
    </div>

    <div ng-webgl id="render-frame">
        <div class="creator" ng-controller="RenderController"><h5>Model made by {{model.creator}}</h5></div>
    </div>

    <div id="app-frame">
        <div ui-view class="app-content"></div>
    </div>

</body>
</html>


