<form id="sign-up-form" name="signInForm" ng-submit="sendSignUp(signUp)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" ng-model="signUp.firstName" class="form-control" id="firstName" placeholder="Enter first name">
    </div>
        <div class="form-group">
        <label for="firstName">Last Name</label>
        <input type="text" ng-model="signUp.lastName" class="form-control" id="lastName" placeholder="Enter last Name">
    </div>
        <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" ng-model="signUp.displayName" class="form-control" id="distplayName" placeholder="Enter distplay name">
    </div>
        <div class="form-group">
        <label for="email">Phone Number</label>
        <input type="text" ng-model="signUp.phone" class="form-control" id="phone" placeholder="Enter phone number">
    </div>
        <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="signUp.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="sign-up-password">Password</label>
        <input type="password" ng-model="signUp.password" class="form-control" id="sign-up-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<div>
    <button class="btn btn-default" ng-click="getUsers()">Get Users</button>
    <ul>
        <li ng-repeat="user in users">
    <ul> 
<div>