<<<<<<< HEAD
/*---------------------------------------------- 
Reset CSS 2.0
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#app-frame {
  width: 43vw;
  height: 100vh;
  float: right;
  background-color: white;
  overflow: scroll;
  padding-left: 1vh;
  padding-right: 1vh; }

.app-content {
  padding-top: 15vh; }
  .app-content h1 {
    width: 80%; }

.large-vertical-space {
  padding-top: 13vh; }

.very-large-vertical-space {
  padding-top: 22vh; }

#top {
  width: 100%;
  position: fixed;
  top: 0; }

.center {
  text-align: center; }

@font-face {
  font-family: 'PxGLight';
  src: url("../../fonts/PxGroteskLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PxGRegular';
  src: url("../../fonts/PxGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PxGBold';
  src: url("../../fonts/PxGroteskBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'PxGRegular', sans-serif;
  color: #1a2a3a; }

h1 {
  font-size: 3em;
  font-family: 'PxGBold', sans-serif; }

h3 {
  font-size: 1em;
  font-family: 'PxGLight', sans-serif;
  color: #1a2a3a; }

h4 {
  font-size: .8em;
  font-family: 'PxGBold', sans-serif; }

h5 {
  font-size: .6em;
  font-family: 'PxGBold', sans-serif;
  text-transform: uppercase; }

a {
  text-decoration: underline; }

li {
  font-family: 'PxGBold', sans-serif; }

.tag {
  font-size: .7em;
  font-family: 'PxGRegular', sans-serif;
  color: #1a2a3a; }

.tag:hover {
  text-decoration: underline; }

input {
  height: 1.6em;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bac0ca;
  font-size: 1.2em;
  font-family: 'PxGRegular', sans-serif;
  background: transparent;
  margin-bottom: .6em; }

button {
  padding: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
  font-family: 'PxGBold', sans-serif;
  border: none;
  color: #cccccc;
  background-color: #1a2a3a; }

button:hover {
  color: #ffffff;
  background-color: #2a435d; }

.render-tile {
  width: 30%;
  float: left;
  margin-top: 1em;
  margin-bottom: 1em; }

.render-tile img {
  width: 100%;
  height: auto; }

.tags li {
  display: inline;
  float: left;
  padding-right: 1vw;
  text-transform: lowercase; }

.tags {
  margin-top: .2em; }

#render-frame {
  width: 55vw;
  height: 100vh;
  float: left; }

.creator {
  bottom: 5vh;
  left: 5vw;
  position: absolute;
  padding: .5em;
  background-color: #ffffff;
  color: #bac0ca; }

.navbar {
  width: 100%;
  padding: .4em;
  top: 0;
  background-color: white;
  transition: .2s;
  box-shadow: 0em 0em 2em #cfddea; }
  .navbar h5 {
    padding-top: .2em;
    color: #1a2a3a; }
    .navbar h5 a {
      color: inherit;
      text-decoration: none; }

.navbar:hover, .navbar-expanded {
  opacity: 1;
  background-color: #1a2a3a;
  padding: .6em; }
  .navbar:hover h4, .navbar-expanded h4 {
    color: #ffffff;
    padding-top: .2em;
    padding-left: 5em;
    float: left; }
    .navbar:hover h4 a, .navbar-expanded h4 a {
      color: inherit;
      text-decoration: none; }
  .navbar:hover a, .navbar-expanded a {
    color: #ffffff; }

.navigation {
  text-align: right;
  padding-right: 8em;
  color: #ffffff; }
  .navigation li {
    display: inline;
    color: #bac0ca;
    font-size: .7em;
    text-transform: uppercase;
    margin-left: 2.5em;
    font-family: 'PxGBold', sans-serif; }
  .navigation .empty {
    opacity: .3;
    text-decoration: none; }
  .navigation .active {
    color: #ffffff; }

.collection {
  width: 100%;
  transition: .2s;
  position: relative;
  height: 0em;
  overflow-y: hidden;
  background-color: #203448; }

.collection-open {
  height: 12em; }

.search-icon {
  width: 2.2em;
  height: 2.5em;
  padding-left: 4.4em;
  padding-top: .8em;
  fill: #bac0ca;
  transition: .2s; }

.search-icon:hover {
  fill: #1a2a3a; }

.search-bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  height: 4em;
  transition: .2s;
  box-shadow: 0em 0em 2px #e1e9f2; }
  .search-bar input {
    margin-left: .4em;
    vertical-align: top;
    height: 100%;
    border: none;
    font-size: 2em;
    font-family: 'PxGRegular', sans-serif;
    width: 80%;
    background: transparent; }

.search-engaged {
  background-color: rgba(255, 255, 255, 0.8); }

.join {
  padding-top: 2em;
  width: 30vw; }
=======
>>>>>>> master
