<h1 ui-sref="model.detail" class="large-vertical-space">{{model.title}}</h1>
<hr />
	<a target="_self" href="{{model.modelFileUrl}}" download="{{model.title}}">
		<button ng-click="download()" ng-show="user._id != model.creator._id">Download</button>
	</a>
	<button ui-sref="model.payment" ng-show="user._id != model.creator._id">Tip {{model.creator.displayName}} $5</button>
	<button ui-sref="model.comments">{{model.comments.length || 0}} Comments</button>
	<button ui-sref="model.edit" ng-show="user._id == model.creator._id || user.isAdmin == true">Edit</button>
	<button ng-click="delete()" ng-show="user._id == model.creator._id || user.isAdmin == true">Delete</button>
<hr />

<ui-view></ui-view>




