


<div class="product-state-payment">
	<form ng-submit="submit()" name="myForm">

			<input type="hidden" name="stripeToken" ng-model="stripeToken" />

			<div class="span1">
                <label for="">Tip Amount</label>
                <input type="text" class="input-block-level" ng-model="payment.amount"  />
              </div>

              <div class="span3">
                <label for="">Card number</label>
                <input type="text" class="input-block-level" ng-model="card.number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
              </div>
              
              <div class="span1">
                <label for="">Expiry Month</label>
                <input type="text" class="input-block-level" ng-model="card.exp_month" payments-validate="expiry" payments-format="expiry" />
              </div>

              <div class="span1">
                <label for="">Expiry Year</label>
                <input type="text" class="input-block-level" ng-model="card.exp_year" payments-validate="expiry" payments-format="expiry" />
              </div>
              
              <div class="span3">
                <label for="">Name on card </label>
                <input type="text" class="input-block-level">
              </div>
              
              <div class="span1">
                <label for="">CVC</label>
                <input type="text" class="input-block-level" ng-model="card.cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
              </div>
              
              <div class="span4">
                <button type="submit" class="btn btn-primary btn-large">Submit</button>
              </div>
            </form>

</div>