<h1 class="large-vertical-space">Welcome Back!</h1>
<h3>We missed your face.</h3>
  <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div class ="sign-in-with">Sign in with us or use one of the providers below</div>
 <div class="oauthsignin-container">
		<p class ="buffer"><oauth-button provider-name="Google"></oauth-button></p>
		<p class ="buffer"><oauth-button provider-name="Facebook"></oauth-button></p>
		<p class ="buffer"><oauth-button provider-name="GitHub"></oauth-button></p>
</div>

<form class="form login" name="loginForm" ng-submit="sendLogin(login)">
	<input type="text" ng-model='login.email' class ="form-control" placeholder="E-mail" /><br>
	<input type="text" ng-model='login.password'class ="form-control" placeholder="Password" /><br>
	<br>
	<button type="submit">Sign In</button>
</form>


</div>    
 