#payment-form {
	width:70%;
}

.product-state {
	.active {
		background-color: $primary-light-gray;
		color: $primary-black;
	}
}

.product-state-comments {
	.leave-comment {
		padding-top: 1em;

		button {
			padding-left: 1em; 
			padding-right: 1em;

			.active {
				@extend button:hover;
			}
		}

		input {
			// @extend button;
			width: 70%;
		}

		form {
			margin-bottom: 1em;
		}
	}

	li {
		margin-top: 2vh;
		margin-bottom: 2vh;

		.comment {
			width: 100%;
			float: left;
			margin-top: 1vh;
			margin-bottom: 1vh;
		}
		[class*="comment-"] {
			float: left;
			h5 {
				padding: none;
				margin: none;
			}
		}
		.comment-rating {
			padding-top: 10px;
		}
		.comment-picture {
			height: 100%;
			padding: .2em;
			margin-left: .4em;
			img {
				width: auto;
				height: 2em;
			}
		}
		.comment-content {
			width: 60%;
			padding: .2em;
			margin-left: .3em;
			h5, p {
				margin: 0;
				margin-bottom: .1em;
			}
		}
	}
}

[class*="product-state-"] {
	h5 {
		margin-top: 2vh;
		margin-bottom: 1vh;
	}
	label {
		@extend h5;
	}
	p {
		margin-top: 3vh;
		margin-bottom: 4vh;
	}
	.delete {
		background-color: red;
	}
}

