.tags li {
	display: inline;
	float: left;
	padding-right: 1vw;
	text-transform: lowercase;
}

.tags {
	margin-top: .2em;
}


h5.product-tile-creator {
	opacity: .3;
}


.render-tile {
	float: left;
	height: 20vh;
	width: 20vh;
	margin-left: 1vw;
	margin-top: 1vh;
	background-color: white;
	padding: 1vh;
	text-align: center;

	img {
		height: 80%;
		width: auto;
	}
}