/*---------------------------------------------- 
Reset CSS 2.0
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------- 
Colors
------------------------------------------------*/

$primary-black: #1a2a3a;
$primary-white: #ffffff;

/*---------------------------------------------- 
General
------------------------------------------------*/

#app-frame {
	width: 43vw;
	height: 100vh;
	float: right;
	background-color: white;
	overflow: scroll;
	padding-left: 1vh;
	padding-right: 1vh;
}

.app-content {
	padding-top: 35vh;
	padding-bottom: 1000px;
}

#top {
	width: 100%;
	position: fixed;
	top: 0;
}

.center {
	text-align: center;
}

/*---------------------------------------------- 
Typography
------------------------------------------------*/

@font-face {
  font-family: 'PxGLight';
  src: url("../../fonts/PxGroteskLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PxGRegular';
  src: url("../../fonts/PxGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PxGBold';
  src: url("../../fonts/PxGroteskBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'PxGRegular', sans-serif;
	color: $primary-black;
}

h1 {
	font-size: 3em;
	font-family: 'PxGBold', sans-serif;
}

h3 {
  font-size: 1em;
  font-family: 'PxGLight', sans-serif;
  color: #1a2a3a;
  text-transform: uppercase;
}

h4 {
	font-size: .8em;
	font-family: 'PxGBold', sans-serif;
}

h5 {
	font-size: .6em;
	font-family: 'PxGBold', sans-serif;
}

a {
	text-decoration: underline;
}

li {
	font-family: 'PxGBold', sans-serif;	
}



