/*---------------------------------------------- 
Reset CSS 2.0
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------------------------- 
Colors
------------------------------------------------*/

$primary-black: #1a2a3a;
$primary-white: #ffffff;

/*---------------------------------------------- 
General
------------------------------------------------*/

#app-frame {
	width: 43vw;
	height: 100vh;
	float: right;
	background-color: white;
	overflow: scroll;
	padding-left: 1vh;
	padding-right: 1vh;
}

.app-content {
	padding-top: 35vh;
	padding-bottom: 1000px;
}

#top {
	width: 100%;
	position: fixed;
	top: 0;
}

.center {
	text-align: center;
}

/*---------------------------------------------- 
Typography
------------------------------------------------*/

@font-face {
  font-family: 'PxGLight';
  src: url("../../fonts/PxGroteskLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PxGRegular';
  src: url("../../fonts/PxGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PxGBold';
  src: url("../../fonts/PxGroteskBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'PxGRegular', sans-serif;
	color: $primary-black;
}

h1 {
	font-size: 3em;
	font-family: 'PxGBold', sans-serif;
}

h3 {
  font-size: 1em;
  font-family: 'PxGLight', sans-serif;
  color: #1a2a3a;
  text-transform: uppercase;
}

h4 {
	font-size: .8em;
	font-family: 'PxGBold', sans-serif;
}

h5 {
	font-size: .6em;
	font-family: 'PxGBold', sans-serif;
}

a {
	text-decoration: underline;
}

li {
	font-family: 'PxGBold', sans-serif;	
}




.navbar {
  width: 100%;
  padding: .2em;
  top: 0;
  background-color: white;
  transition: .2s;
  box-shadow: 0em 0em 2em #cfddea; }
  .navbar h5 {
    padding-top: .2em;
    color: #1a2a3a; }
    .navbar h5 a {
      color: inherit;
      text-decoration: none; }

.navbar:hover {
  opacity: 1;
  background-color: #1a2a3a;
  padding: .6em; }
  .navbar:hover h4 {
    color: #ffffff;
    padding-top: .2em;
    padding-left: 5em;
    float: left; }
    .navbar:hover h4 a {
      color: inherit;
      text-decoration: none; }
  .navbar:hover a {
    color: #ffffff; }

.navigation {
  text-align: right;
  padding-right: 5em;
  color: #ffffff; }

.active li {
  display: inline;
  color: white;
  font-size: .7em;
  text-transform: uppercase;
  margin-left: 2em; }

.signin-container {
	display: flex;
	align-items: center;
	justify-content: center;
	> * {
		width: 33%;
	}
	.local {
		max-width: 18em;
		text-align: left;
	}
	.or {
		max-width: 10em;
	}
	.oauth {
		max-width: 18em;
	}
	.btn-social {
		text-align: center;
		width: 100%;
	}
	min-width: -webkit-min-content;
}

@media (max-width: 600px) {
	.signin-container {
		flex-direction: column;
		> * {
			width: 100%;
		}
	}
}

.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: -webkit-min-content; }
  .signin-container > * {
    width: 33%; }
  .signin-container .local {
    max-width: 18em;
    text-align: left; }
  .signin-container .or {
    max-width: 10em; }
  .signin-container .oauth {
    max-width: 18em; }
  .signin-container .btn-social {
    text-align: center;
    width: 100%; }

@media (max-width: 600px) {
  .signin-container {
    flex-direction: column; }
    .signin-container > * {
      width: 100%; } }
