<div class="signin-container">
<h1> Refresh Your Password !<h1>
<form id="sign-up-form" name="signInForm" ng-submit="signInForm.$valid && newPassword(signUp)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <!--<pre>{{signUp | json}}</pre>
    <pre>{{signInForm | json}}</pre>-->
   
    <div class="form-group">
        <label for="sign-up-password">Password</label>
        <input type="password" ng-model="signUp.password" ng-required name="pw1" class="form-control" id="pw1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="sign-up-password">Repeat Password <span ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-show="signInForm.pw2.$dirty&&signInForm.pw2.$error.pwmatch" class="submitted">Passwords do not match</span></label>
        <input type="password" name="pw2" ng-model="pw2" ng-required pw-check="pw1" class="form-control" id="pw2" placeholder="Password">
    </div>
    <div class="msg-block" ng-show="signInForm.$error">
  <span class="msg-error" ng-show="signInFormForm.pw2.$error.pwmatch">
    Passwords don't match.
  </span>
</div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
